<!-- navbar for auth'd user in trips app -->
{% include "navbar.html" %}

    {% if user.is_authenticated %}
        <div class="text-white">Hello, <strong>{{ user.username }}</strong>!</div>
        <a href="{% url 'trips:create-trip' %}" class="btn btn-success ml-2">New Trip</a>
        <a href="#" class="btn btn-danger ml-2">Airlines</a>
        <a href="#" class="btn btn-danger ml-2">Account</a>
        <a href="#" class="btn btn-default ml-2">Log Out</a>
    {% endif %}

    </form>
</nav>
