<div class="card border-info mb-3" style="max-width: 20rem;">
  <h5 class="card-header ">{{ note.title }}</h5>
  <div class="card-body border-dark">
    <p class="card-text text-dark">
         <ul>
             <!-- fields in note -->
         </ul>
      <hr>
      <div class="text-right">
          <a href="#" title="See More">See More</a>
      </div>
  </div>
  <div class="card-footer">
  <small class="text-muted">Created:{{ trip.modified|date:"SHORT_DATETIME_FORMAT" }}</small>
  </div>
</div>
