<div class="card border-info mb-3">
  <h3 class="card-header ">{{ trip.title }}</h3>
  <div class="card-body border-dark">
    <p class="card-text text-dark">
         <ul>
             <!-- fields in note -->
             <li>Posted by: {{ trip.passenger }}</li>
             <li>Travelling to {{ trip.arrive_at}}</li>
             <li>Went through Terminal {{ trip.terminal }} @ SFO</li>
         </ul>
    </p>
      <hr>
      <div class="text-right">
          <a href="{% url 'trips:trip-detail' trip.pk %}" title="See More">See More</a>
      </div>
  </div>
  <div class="card-footer row">
  <small class="text-muted">Created:{{ trip.created|date:"SHORT_DATETIME_FORMAT" }}</small>
  <img class="ml-auto" src="{{ trip.passenger.profile.mugshot.url }}" alt="" width=30px height=30px>
  </div>
</div>
