<!-- accounts/templates/accounts/password/reset/email_sent.html -->
{% extends "base.html" %}

<!-- NAVBAR -->
{% block navbar %}
    {% if not user.is_authenticated %}
        {% include 'navbar.html' %}
    {% else %}
        {% include 'partials/nav-accounts.html' %}
    {% endif %}
{% endblock %}

<!-- CONTENT: inform user to check inbox -->
{% block content %}
    <div class="container">
        <h2>Please Check Your Inbox!</h2>
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>
                We just sent you a little something <strong>special...</strong>
            </p>
        </div>
    </div>
{% endblock %}
