{% load static %}
<!-- navbar for all apps for user who's not authenticated -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
     {% if not user.is_authenticated %}
    <div class="navbar-brand d-flex w-50 ml-2">
        <span class="text-white">
            <div class="row">
                <h2><a href="{% url 'accounts:launch' %}" style="color: white;">Travelly</a></h2>
                <img src="{% static 'images/air-transport.png' %}" width=50px height=50px>
            </div>
        </span>
     </div>
     {% endif %}
    <!-- smaller button for smaller viewports -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon text-white"><h4></h4></span>
     </button>
    <!-- options for user -->
    <div class="collapse navbar-collapse" id="navbarContent">
         <ul class="list-group list-group-horizontal justify-content-end ml-auto" style="list-style-type: none;">
            <!-- buttons change based on authentication -->
              {% if not user.is_authenticated %}
                  <div class="row ml-auto mr-2">
                      <li>
                          <a href="{% url 'accounts:login' %}" class="btn btn-secondary ml-12">Log In</a>
                      </li>
                      <li>
                          <a href="{% url 'accounts:new-user' %}" class="btn btn-primary ml-2">Sign Up</a>
                      </li>
                      <li>
                          <a href="{% url 'accounts:launch' %}" class="btn btn-primary ml-2">About</a>
                      </li>
                      <li>
                          <a href="#" class="btn btn-success ml-2">Stories</a>
                      </li>
                  </div>
              {% endif %}
        </ul>
    </div>
</nav>
