<!-- accounts/templates/accounts/home.html -->
{% extends "base.html" %}
{% load static %}

<!-- NAVBAR -->
{% block navbar %}
    {% if not user.is_authenticated %}
        {% include 'navbar.html' %}
    {% else %}
        {% include 'partials/nav-accounts.html' %}
    {% endif %}
{% endblock %}


<!-- CONTENT -->
{% block content %}

    <!-- HERO -->
    <div class="jumbotron mb-0" style="background-image: url('{% static 'images/airplane-pic.jpg' %}'); background-position:center; height: 1000px;">
        <h1 class="display-3">The Rewards of Travelling</h1>
        <p class="lead">Without the confusion.</p>
        <hr class="my-4">
        <p>Travelly is a one stop for ending all your travel worries!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'accounts:login' %}" role="button">Log In</a>
        </p>

        <!-- FEATURES -->
        <div class="container mb-0">
            <div class="row">
                <div class="col-md-4">Get Through the Airport</div>
                <div class="col-md-4">Review Airlines for Quality</div>
                <div class="col-md-4">Share Trips with Pictures</div>
            </div>

            <!-- Link to Sign Up Form -->
            <div class="text-center mb-0">
                <a href="{% url 'accounts:new-user' %}" class="btn btn-primary ml-2">New to Travelly?</a>
                <br><br><br>
                <small>Airplane image on this page by Ross Parmly on Unsplash</small>
            </div>
        </div>

    </div>


{% endblock %}
