<!-- accounts/templates/accounts/signup.html -->
{% extends "base.html" %}

<!-- NAVBAR -->
{% block navbar %}
    {% if not user.is_authenticated %}
        {% include 'navbar.html' %}
    {% else %}
        {% include 'partials/nav-accounts.html' %}
    {% endif %}
{% endblock %}

<!-- display the signup form for the website -->
{% block content %}
<div class="container">
    <h3>Join Now, and 😍 Your Next Vacation</h3>
    <hr>
    <div class="row mb-10">
        <div class="col">
            <!-- Form to sign up for a nee account -->
            <form method="post" class="mx-auto">
                {% csrf_token %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="text-danger">{{ error }}</p>
                    {% endfor %}
                    <div class="form-group row">
                        <div class="col-8">
                          <label for="id_{{ field.name }}">{{ field.label|title }}:</label>
                          <p class="form">{{ field.help_text }}</p>
                          <input class="form-control" type="{% if 'password' in field.name %}password{% else %}text{% endif %}" name="{{ field.name }}" id="id_{{ field.name }}" required>
                        </div>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-success">Create New Account</button>
            </form>
            <br>
        </div>
    </div>
    <br>
</div>

{% endblock %}
