<!-- airlines/templates/airlines/airline/details.html -->
{% extends 'base.html' %}
{% load static %}

<!-- NAVBAR -->
{% block navbar %}
    {% if not user.is_authenticated %}
        {% include 'navbar.html' %}
    {% else %}
        {% include 'partials/airline-nav.html' %}
    {% endif %}
{% endblock %}


<!-- Main content -->
{% block content %}

    <div class="container">
        <!-- Fields of Airlines -->
        <div class="media">
            <img class="mr-3" src="{{ airline.logo.url }}" alt="Airline logo" width=250px height=250px>
            <div class="media-body">
                <h2>{{ airline.title }}</h2>
                <h1 class="mt-0">{{ airline.name }}</h1>
                <!-- display verification -->
                {% if airline.verified %}
                    <p class="text-success">Verified by Staff!</p>
                {% else %}
                    <p class="text-danger">Not Verified </p>
                {% endif %}
                <!-- Link to Airline list, update, and delete views -->
                <a class="mr-3" href="{% url 'airlines:update_airline' airline.slug %}">Edit Airline</a>
                <br>
                <a href="{% url 'airlines:all-airlines' %}">Back to All Airlines</a>
                <br><br>
                <!-- List of reviews -->
                <h3>Reviews By Passengers:</h3>
                <!-- Links to Add Reviews Goes here-->
                <a href="{% url 'airlines:create_review' %}">Add a Review</a>
                <ol>
                    {% for review in reviews %}
                        <div class="media mt-3">
                            <li>
                                <p class=pr-3><i>{{ review.author.first_name }} Says:</i></p>
                                <div class="media-body">
                                    <h5 class="mt-0">{{ review.headline }}</h5>
                                    Rating: {{ review.rating }} out of 5! <br>
                                    Cost: ${{ review.price }} <br>
                                    {{ review.comments }}
                                    <br>
                                    <!-- Link to Update/Delete a Review -->
                                    <a class="mr-3" href="#">Edit</a>
                                    <a href="#">Delete</a>
                                </div>
                            </li>
                        </div>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

{% endblock %}
