{% extends 'base.html' %}

<!-- NAVBAR -->
{% block navbar %}
    {% if not user.is_authenticated %}
        {% include 'navbar.html' %}
    {% else %}
        {% include 'partials/airline-nav.html' %}
    {% endif %}
{% endblock %}



<!-- Main content -->
{% block content %}

    <div class="container">
        <h1>Trendy Airlines</h1>

        {% if airlines %}
            <div class="card-columns">
                <!-- display airlines -->
                {% for airline in airlines %}
                    {% include 'partials/airline-card.html' %}
                {% endfor %}
            </div>
        {% else %}
        <!-- notify user why the page is empty -->
            <div class="alert alert-primary" role="alert">There are currently no airlines to display.</div>
        {% endif %}
    </div>

{% endblock %}
