<!-- airlines/templates/airlines/airline/index.html -->
{% extends 'base.html' %}

<!-- NAVBAR -->
{% block navbar %}
    {% if not user.is_authenticated %}
        {% include 'navbar.html' %}
    {% else %}
        {% include 'partials/airline-nav.html' %}
    {% endif %}
{% endblock %}



<!-- Main content -->
{% block content %}

    <div class="container">
        <h1>Trendy Airlines {% if airlines %}<small class="text-muted">({{ airlines|length }} Airline{{ pages|length|pluralize:"s" }})</small>{% endif %}</h1>
        <!-- Notify User if they have just successfully deleted a review -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }} alert alert-success"{% endif %}>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <!-- Display All Airlines -->
        {% if airlines %}
            <div class="card-columns">
                <!-- display airlines -->
                {% for airline in airlines %}
                    {% include 'partials/airline-card.html' %}
                {% endfor %}
            </div>
        {% else %}
        <!-- notify user why the page is empty -->
            <div class="alert alert-primary" role="alert">There are currently no airlines to display.</div>
        {% endif %}
    </div>

{% endblock %}
