{% load static %}
<div class="card border-info mb-3">
  <div class="card-header ">
      <h3>{{ airline.title }}</h3>
  </div>
  <img src="{{ airline.logo.url }}" alt="" class="card-img-top">
  <div class="card-body border-dark">
    <p class="card-text text-dark">
         <ul>
            <!-- display verification -->
            {% if airline.verified %}
                <li class="text-success">Verified!</li>
            {% else %}
                <li class="text-danger">Not Verified</li>
            {% endif %}
         </ul>
    </p>
  </div>
  <div class="card-footer">
      <div class="text-right">
          <a href="{% url 'airlines:airline-detail' airline.slug %}" title="See More">See More</a>
      </div>
  </div>
</div>
