<!-- trips/templates/trips/deletion.html -->
{% extends "base.html" %}

{% block navbar %}
    {% include 'partials/nav-trips.html' %}
{% endblock %}

{% block content %}

    <div class="container">
        <h2>This is What You Are Deleting:</h2>
        <!-- Preview the Trip being deleted -->
        {% include "partials/trip-card.html" %}

        <h3>This action <strong>cannot</strong> be undone. <br>Are you sure you would like to continue?</h3>
        <div class="row">
            <div class="offset-md-9">
                {% include 'form_template.html' %}
            </div>
        </div>
        <div class="row">
            <div class="offset-md-9">
                <a href="{% url 'trips:all-trips' %}">Back to All Trips</a>
            </div>
        </div>
    </div>


{% endblock %}
