<!-- trips/templates/trips/deletion.html -->
{% extends "base.html" %}

{% block navbar %}
    {% include 'partials/navbar.html' %}
{% endblock %}

{% block content %}

    <div class="container">
        <h2>This is What You Are Deleting:</h2>
        <!-- Preview the Trip being deleted -->
        {% include "partials/trip-card.html" %}

        <h3>This action <strong>cannot</strong> be undone. <br>Are you sure you would like to continue?</h3>
        <br>

        <div class="row">
            <div class="col-md-offset-1">
                {% include 'form_template.html' %}
            </div>
            <div class="col-md-offset-9">
                <a class='ml-auto' href="{% url 'trips:trip-detail' trip.pk %}"><button class="btn btn-danger">Cancel</button></a>
            </div>
        </div>
    </div>


{% endblock %}
