{% extends 'base.html' %}

{<!-- NAVBAR -->
{% block navbar %}
    {% if not user.is_authenticated %}
        {% include 'navbar.html' %}
    {% else %}
        {% include 'partials/nav-trips.html' %}
    {% endif %}
{% endblock %}


<!-- main content -->
{% block content %}

    <div class="container">
        <h1>See the Trips! {% if trips %}<small class="text-muted">({{ trips|length }} Trip{{ pages|length|pluralize:"s" }})</small>{% endif %}</h1>
        {% if trips %}
            <div class="card-columns">
                {% for trip in trips %}
                    {% include 'partials/trip-card.html' %}
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-primary" role="alert">You don't have any trips to display.</div>
        {% endif %}
    </div>

{% endblock %}
