{% extends 'base.html' %}

<!-- navbar -->
{% block navbar %}
    {% include 'partials/navbar.html' %}
{% endblock %}

<!-- main content -->
{% block content %}

    <div class="container">
        <h1>See the Trips! {% if trips %}<small class="text-muted">({{ trips|length }} Trip{{ pages|length|pluralize:"s" }})</small>{% endif %}</h1>
        <div class="card-columns">
            {% for trip in trips %}
                {% include 'partials/trip-card.html' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
