<!-- airports/templates/airports/index.html -->
{% extends "base.html" %}

<!-- NAVBAR -->
{% block navbar %}
    {% if not user.is_authenticated %}
        {% include 'navbar.html' %}
    {% else %}
        {% include 'partials/nav-airports.html' %}
    {% endif %}
{% endblock %}

<!-- PAGE CONTENT -->
{% block content %}
    <div class="container">
        <h1>Airports {% if airports %}<small class="text-muted">({{ airports|length }} Airport{ airports|length|pluralize:"s" }})</small>{% endif %}</h1>
        {% if trips %}
            <div class="card-columns">
                {% for airport in airports %}
                    {% include 'partials/airport-card.html' %}
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-primary" role="alert">There are no Airports to display.</div>
        {% endif %}
    </div>
{% endblock %}
