<div class="card border-info mb-3">
    <h3 class="card-header ">
      {{ airport.title }}
    <div class="card-body border-dark">
        <p class="card-text text-dark">
            <ul>
                <!-- fields in note -->
                <li>Address: <strong>{{ airport.address }}</strong></li>
            </ul>
        </p>
        <hr>
        <div class="text-right">
            <a href="#" title="See More">See More</a>
        </div>
    </div>
    <div class="card-footer row">
    </div>
</div>
