<!-- accounts/templates/accounts/password/password-change.html -->
{% extends "base.html" %}

<!-- NAVBAR -->
{% block navbar %}
    {% if not user.is_authenticated %}
        {% include 'navbar.html' %}
    {% else %}
        {% include 'partials/nav-accounts.html' %}
    {% endif %}
{% endblock %}


<!-- Form to Chnage Password -->
{% block content %}
    <div class="container">
        <h2>Change Your Password</h2>
        <br>
        {% include "partials/update-password.html" %}
        <a class="btn btn-info" href="{% url 'accounts:acct_info' user.id %}">Cancel Changes</a>
        <br><br>
    </div>
{% endblock %}
